
body {
  background-color: #070345;
  font-family:  sans-serif,'Karla' ;
  margin:0;
  height:100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow:hidden;
}


main {
  background-color: #F5F5F5;
  height:300px;
  width: 300px;
  border-radius: 5px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; 
}
.title {
  font-size: 35px;
  margin: 0;
  color: #2B283A;
  letter-spacing: -0.03em;
}

.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  max-width: 300px;
  color: #4A4E74;
}
.die-container{
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;

}

.die{
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  width:50px; 
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:1.2rem;
  cursor: pointer;
  color: #283a2c;
}

.held{
  background-color: #59E391;
}

.not-held{
  background-color: white;
}

.roll-dice {
  height: 50px;
  width: 140px;
  border: none;
  border-radius: 6px;
  background-color: #5035FF;
  color: white;
  font-size: 1.2rem;
  font-family: 'Karla', sans-serif;
  margin-top: 30px;
  cursor: pointer;
  padding: 10px;
}

.roll-dice:focus {
  outline: none;
}

.roll-dice:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}